.container{
    margin: 30px;
    display: flex;
    justify-content: space-between;
}

.tracks{
    width: 80vw;
    display: flex;
    flex-direction: column;
}

.pagination{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.selectors{
    width: 20vw;
    height: 100%;
}

.line{
    width: 100%;
    height: 2px;
    background-color: black;
}

.selectContainer{
    margin-bottom: 100px
}

.selector{
    width: 150px
}

.active{
    color: #2B81AF;
    font-weight: 700;
}

